.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: gray;
}

.item {
    flex-grow: 1;
    background-color: lightgray;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}